body {
	font-family: "Alegreya Sans";
	font-size: 20px;
	font-weight: 100;
	background-color: white;
	margin: 0;
	padding: 0;
}

.frame-content {
  .hero {
    img {
      position: absolute;
    }

    img, picture {
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
