/* Colors */

$basic-blue: #354463;
$basic-grey: #C1F7D5;

/* Fonts */

$font-base: 'Alegreya Sans';
$font-accent: 'sailors';
$font-heading: 'poynter';
$font-heading-bold: 'poynter-bold';

/* sizes */

$tablet: 768px;
$mobile: 414px;
